<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
<nav class="navbar navbar-dark bg-dark">
    <div style="justify-content:space-around;" class="container-fluid">
        <div class="navbar-header">
              <a class="navbar-brand" href="./">Dealerships</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="about">About Us</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="contact">Contact Us</a>
        </div>
        {% if user.is_authenticated %}
            <div style="display: flex; flex-direction: row; align-items: center;">
                {% if user.first_name %}
                    <button style="background-color:#DFE3EE;border-radius:5px;border-width:0px;padding-left:10px;padding-right:10px;color:#3B5998">Hello, {{user.first_name}}!</button>
                {% else %}
                    <button style="background-color:#DFE3EE;border-radius:5px;border-width:0px;padding-left:10px;padding-right:10px;color:#3B5998">Hello, {{user.username}}!</button>
                {% endif %}
                <button style="margin-left: 10px;background-color:#DFE3EE;border-radius:5px;border-width:0px;padding-left:10px;padding-right:10px;color:#3B5998">
                    <a href="{% url 'djangoapp:logout' %}">Logout</a>
                </button>
            </div>
        {% else %}
            <form action="/login.php">
                <button 
                    type="submit" 
                    style="background-color:#DFE3EE;border-radius:5px;border-width:0px;padding-left:10px;padding-right:10px;color:#3B5998" 
                    formaction="./login"
                >
                    Login
                </button>
                <button 
                    type="submit" 
                    style="background-color:#DFE3EE;border-radius:5px;border-width:0px;padding-left:10px;padding-right:10px;color:#3B5998" 
                    formaction="./signup"
                >
                    Sign Up
                </button>
            </form>
        {% endif %}
    </div>
</nav>
    <div style="text-align:center;margin:40px;">
        <h1>
            Contact us:
            <p style="margin:30px;"> 
                Phone: <span style="color: #00c41a">222-222-4565</span> <br>
                &emsp;&ensp;&nbsp; Email: <span style="color: #00c41a">dealership.email.com </span>
            </p>
        </h1>
    </div>
</html>