<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <div style="justify-content:space-around;" class="container-fluid">
            <div class="navbar-header">
                  <a class="navbar-brand" href="./">Online Course</a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="about">About Us</a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="contact">Contact Us</a>
            </div>
            {% if user.is_authenticated %}
                <div style="display: flex; flex-direction: row; align-items: center;">
                    <button style="background-color:#DFE3EE;border-radius:5px;border-width:0px;padding-left:10px;padding-right:10px;color:#3B5998">Hello, {{user.first_name}}!</button>
                    <button style="margin-left: 10px;background-color:#DFE3EE;border-radius:5px;border-width:0px;padding-left:10px;padding-right:10px;color:#3B5998">
                        <a href="{% url 'djangoapp:logout' %}">Logout</a>
                    </button>
                </div>
            {% else %}
                <form action="/login.php">
                    <button 
                        type="submit" 
                        style="background-color:#DFE3EE;border-radius:5px;border-width:0px;padding-left:10px;padding-right:10px;color:#3B5998" 
                        formaction="./login"
                    >
                        Login
                    </button>
                    <button 
                        type="submit" 
                        style="background-color:#DFE3EE;border-radius:5px;border-width:0px;padding-left:10px;padding-right:10px;color:#3B5998" 
                        formaction="./signup"
                    >
                        Sign Up
                    </button>
                </form>
            {% endif %}
        </div>
    </nav>

    <p>ok {{ dealerships }}</p>

    <footer style="position: absolute; bottom: 0;">
        <p>Author: Hege Refsnes<br>
        <a href="mailto:hege@example.com">hege@example.com</a></p>
    </footer>

    <!--Add a dealer table here -->

</body>

</html>
